/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

# plaintask todo files
*.todo

# application specific ignores and go build outputs
volumes/*
pb_migrations/*
pb_data/*
server
*.exe

# generated markdown previews
README.html
CHANGELOG.html
LICENSE.html
